*.sv linguist-language=SystemVerilog
*.py linguist-language=Python
*.tcl linguist-language=Tcl
*.yaml linguist-language=YAML
*.yml linguist-language=YAML
*.md linguist-language=Markdown

# Generated Verilog/netlists
*.v linguist-generated=true
